In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
train = pd.read_csv('Train.csv', delimiter=",")

In [4]:
test = pd.read_csv('Test.csv', delimiter=",")

In [5]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [7]:
# Assuming you have your data loaded into a DataFrame called 'train'
# Replace 'Item_Outlet_Sales' with the actual column name you want to check

unique_values = train["Item_Fat_Content"].unique()
print("Unique values:", unique_values)
print("Number of unique values:", len(unique_values))

Unique values: ['Low Fat' 'Regular' 'low fat' 'LF' 'reg']
Number of unique values: 5

In [8]:
unique_values = train["Item_Fat_Content"].unique()
print("Unique values:", unique_values)

Unique values: ['Low Fat' 'Regular' 'low fat' 'LF' 'reg']

In [9]:
train["Item_Fat_Content"].replace({'low fat': 'Low Fat', 'LF': 'Low Fat', 'reg': 'Regular'}, inplace=True)

# Check unique values after merging
unique_values = train["Item_Fat_Content"].unique()
print("Unique values after merging:", unique_values)

Unique values after merging: ['Low Fat' 'Regular']

In [10]:
# Assuming you have your data loaded into a DataFrame called 'train'
# Replace 'Item_Fat_Content' with the actual column name

# Merge similar categories
train["Item_Fat_Content"].replace({'low fat': 'Low Fat', 'LF': 'Low Fat', 'reg': 'Regular'}, inplace=True)

# Check unique values after merging
unique_values = train["Item_Fat_Content"].unique()
print("Unique values after merging:", unique_values)

Unique values after merging: ['Low Fat' 'Regular']

In [11]:
unique_values = train["Item_Type"].unique()
print("Unique values:", unique_values)
print("Number of unique values:", len(unique_values))

Unique values: ['Dairy' 'Soft Drinks' 'Meat' 'Fruits and Vegetables' 'Household'
 'Baking Goods' 'Snack Foods' 'Frozen Foods' 'Breakfast'
 'Health and Hygiene' 'Hard Drinks' 'Canned' 'Breads' 'Starchy Foods'
 'Others' 'Seafood']
Number of unique values: 16

In [12]:
unique_values = train["Outlet_Type"].unique()
print("Unique values:", unique_values)

Unique values: ['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3']

In [13]:
unique_values = train["Outlet_Location_Type"].unique()
print("Unique values:", unique_values)

Unique values: ['Tier 1' 'Tier 3' 'Tier 2']

In [14]:
unique_values = train["Outlet_Size"].unique()
print("Unique values:", unique_values)

Unique values: ['Medium' nan 'High' 'Small']

In [15]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [16]:
test.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [17]:
train['Item_Weight'].fillna(train['Item_Weight'].mean(), inplace = True)

In [18]:
test['Item_Weight'].fillna(test['Item_Weight'].mean(), inplace = True)

In [19]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [20]:
test.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [21]:
train['Outlet_Size'].fillna(train['Outlet_Size'].mode()[0],inplace=True)

In [22]:
test['Outlet_Size'].fillna(test['Outlet_Size'].mode()[0],inplace=True)

In [23]:
train.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [24]:
test.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [25]:
unique_values = train["Outlet_Size"].unique()
print("Unique values:", unique_values)
print("Number of unique values:", len(unique_values))

Unique values: ['Medium' 'High' 'Small']
Number of unique values: 3

In [26]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [27]:
train['Item_Fat_Content']= le.fit_transform(train['Item_Fat_Content'])
train['Item_Type']= le.fit_transform(train['Item_Type'])
train['Outlet_Size']= le.fit_transform(train['Outlet_Size'])
train['Outlet_Location_Type']= le.fit_transform(train['Outlet_Location_Type'])
train['Outlet_Type']= le.fit_transform(train['Outlet_Type'])

In [28]:
train.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,0,0.016047,4,249.8092,OUT049,1999,1,0,1,3735.1380
1,DRC01,5.92,1,0.019278,14,48.2692,OUT018,2009,1,2,2,443.4228
2,FDN15,17.50,0,0.016760,10,141.6180,OUT049,1999,1,0,1,2097.2700
3,FDX07,19.20,1,0.000000,6,182.0950,OUT010,1998,1,2,0,732.3800
4,NCD19,8.93,0,0.000000,9,53.8614,OUT013,1987,0,2,1,994.7052

In [29]:
train = train.drop(columns=['Item_Identifier', 'Outlet_Identifier'])

In [30]:
train.head(5)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,0,0.016047,4,249.8092,1999,1,0,1,3735.1380
1,5.92,1,0.019278,14,48.2692,2009,1,2,2,443.4228
2,17.50,0,0.016760,10,141.6180,1999,1,0,1,2097.2700
3,19.20,1,0.000000,6,182.0950,1998,1,2,0,732.3800
4,8.93,0,0.000000,9,53.8614,1987,0,2,1,994.7052

In [31]:
test = test.drop(columns=['Item_Identifier', 'Outlet_Identifier'])

In [32]:
test['Item_Fat_Content']= le.fit_transform(test['Item_Fat_Content'])
test['Item_Type']= le.fit_transform(test['Item_Type'])
test['Outlet_Size']= le.fit_transform(test['Outlet_Size'])
test['Outlet_Location_Type']= le.fit_transform(test['Outlet_Location_Type'])
test['Outlet_Type']= le.fit_transform(test['Outlet_Type'])

In [33]:
train.head(10)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.300000,0,0.016047,4,249.8092,1999,1,0,1,3735.1380
1,5.920000,1,0.019278,14,48.2692,2009,1,2,2,443.4228
2,17.500000,0,0.016760,10,141.6180,1999,1,0,1,2097.2700
3,19.200000,1,0.000000,6,182.0950,1998,1,2,0,732.3800
4,8.930000,0,0.000000,9,53.8614,1987,0,2,1,994.7052
5,10.395000,1,0.000000,0,51.4008,2009,1,2,2,556.6088
6,13.650000,1,0.012741,13,57.6588,1987,0,2,1,343.5528
7,12.857645,0,0.127470,13,107.7622,1985,1,2,3,4022.7636
8,16.200000,1,0.016687,5,96.9726,2002,1,1,1,1076.5986
9,19.200000,1,0.094450,5,187.8214,2007,1,1,1,4710.5350

In [34]:
test.head(5)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,20.750000,1,0.007565,13,107.8622,1999,1,0,1
1,8.300000,4,0.038428,4,87.3198,2007,1,1,1
2,14.600000,1,0.099575,11,241.7538,1998,1,2,0
3,7.315000,1,0.015388,13,155.0340,2007,1,1,1
4,12.695633,2,0.118599,4,234.2300,1985,1,2,3

In [35]:
X_train = train.iloc[::,-1]
y_train = train.iloc[:,-1]

In [36]:
X_train_array = X_train.values
X_train = X_train_array.reshape(-1, 1)

In [37]:
X_test_array = test.values
X_test = X_test_array.reshape(-1, 1)

In [38]:
from sklearn.ensemble import RandomForestRegressor
random = RandomForestRegressor()

In [39]:
random.fit(X_train, y_train)

RandomForestRegressor()

In [40]:
y_pred = random.predict(X_test)

In [41]:
import pickle

In [42]:
file=open('predictionModel.pkl','wb')
pickle.dump(random, file)
file.close()

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,r2_score

# Define X and y
X = train.drop(columns=['Item_Outlet_Sales'])  # Features

y = train['Item_Outlet_Sales']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest regressor
rf_regressor = RandomForestRegressor()

# Train the regressor on the training data
rf_regressor.fit(X_train, y_train)

# Predict the sales for the test set
y_pred = rf_regressor.predict(X_test)

# Calculate the mean squared error of the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

r_squared = r2_score(y_test, y_pred)
print("R-squared:", r_squared)

X.head()
y.head()

Mean Squared Error: 1188696.8882224958
R-squared: 0.5626526933380973

0    3735.1380
1     443.4228
2    2097.2700
3     732.3800
4     994.7052
Name: Item_Outlet_Sales, dtype: float64

In [44]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Assuming you have your data loaded into X (features) and y (target)
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Linear Regression model
linear_reg = LinearRegression()

# Train the model on the training data
linear_reg.fit(X_train, y_train)

# Predict the target variable for the test set
y_pred = linear_reg.predict(X_test)

# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate the R-squared value
r_squared = r2_score(y_test, y_pred)
print("R-squared:", r_squared)

Mean Squared Error: 1293387.345788739
R-squared: 0.5241348086667036

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Assuming you have your data loaded into X (features) and y (target)
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Linear Regression model
linear_reg = LinearRegression()

# Train the model on the training data
linear_reg.fit(X_train, y_train)

# Predict the target variable for the test set
y_pred = linear_reg.predict(X_test)

# Calculate the mean squared error of the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

r_squared = r2_score(y_test, y_pred)
print("R-squared:", r_squared)

Mean Squared Error: 1293387.345788739
R-squared: 0.5241348086667036

In [46]:
import numpy as np

# Assuming you have already trained a Random Forest model called rf_regressor

# Define the input data
input_data = np.array([[12.857645, 0, 0.127470, 13, 107.7622, 1985, 1, 2, 3]])

# Use the trained Random Forest model to predict the outlet value for the input data
predicted_outlet_sales = rf_regressor.predict(input_data)

print("Predicted Outlet Sales:", predicted_outlet_sales)

Predicted Outlet Sales: [3441.766546]

c:\Users\ANIRUDDHA\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [47]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

input_data = np.array([[17.50, 1, 0.016760, 10, 141.6180, 1999, 1, 0, 1]]) 

# Use the trained Random Forest model to predict the outlet value for the input data
predicted_outlet_sales = rf_regressor.predict(input_data)

print("Predicted Outlet Sales:", predicted_outlet_sales)

actual_outlet_sales=[2097.2700]

mae = mean_absolute_error(actual_outlet_sales,[ predicted_outlet_sales])
print("Mean Absolute Error (MAE):", mae)

# Calculate Mean Squared Error (MSE)
mse = mean_squared_error(actual_outlet_sales,[ predicted_outlet_sales])
print("Mean Squared Error (MSE):", mse)

# Calculate R-squared (R2) score
r_squared = r2_score(actual_outlet_sales,[predicted_outlet_sales])
print("R-squared (R2) Score:", r_squared)

Predicted Outlet Sales: [2066.916178]
Mean Absolute Error (MAE): 30.353822000002765
Mean Squared Error (MSE): 921.3545100078519
R-squared (R2) Score: nan

c:\Users\ANIRUDDHA\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
c:\Users\ANIRUDDHA\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

In [48]:
import joblib

joblib.dump(rf_regressor, 'random_forest_model.pkl')

['random_forest_model.pkl']

In [49]:
# from sklearn.model_selection import train_test_split, GridSearchCV
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.metrics import mean_squared_error, r2_score

# # Define X and y
# X = train.drop(columns=['Item_Outlet_Sales'])  # Features
# y = train['Item_Outlet_Sales']  # Target variable

# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Define the Random Forest regressor
# rf_regressor = RandomForestRegressor()

# # Define the hyperparameters grid to search
# param_grid = {
#     'n_estimators': [100, 200, 300],  # Number of trees in the forest
#     'max_depth': [None, 10, 20],       # Maximum depth of the tree
#     'min_samples_split': [2, 5, 10],   # Minimum number of samples required to split an internal node
#     'min_samples_leaf': [1, 2, 4],     # Minimum number of samples required to be at a leaf node
#     'max_features': ['auto', 'sqrt', 'log2']  # Number of features to consider when looking for the best split
# }

# # Perform Grid Search to find the best hyperparameters
# grid_search = GridSearchCV(estimator=rf_regressor, param_grid=param_grid, cv=5, scoring='neg_mean_squared_error', n_jobs=-1)
# grid_search.fit(X_train, y_train)

# # Get the best hyperparameters
# best_params = grid_search.best_params_
# print("Best Hyperparameters:", best_params)

# # Initialize the Random Forest regressor with the best hyperparameters
# best_rf_regressor = RandomForestRegressor(**best_params)

# # Train the regressor on the training data
# best_rf_regressor.fit(X_train, y_train)

# # Predict the sales for the test set
# y_pred = best_rf_regressor.predict(X_test)

# # Calculate the mean squared error of the model
# mse = mean_squared_error(y_test, y_pred)
# print("Mean Squared Error:", mse)

# r_squared = r2_score(y_test, y_pred)
# print("R-squared:", r_squared)

# # Optionally, you can also print the feature importances
# print("Feature Importances:", best_rf_regressor.feature_importances_)

In [50]:
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
import pandas as pd

# Assuming 'train' is your DataFrame containing the dataset

# Define X and y
X = train.drop(columns=['Item_Outlet_Sales'])  # Features
y = train['Item_Outlet_Sales']  # Target variable

# Initialize the Random Forest regressor
rf_regressor = RandomForestRegressor()

# Perform cross-validation
cv_scores = cross_val_score(rf_regressor, X, y, cv=5, scoring='neg_mean_squared_error')
cv_rmse_scores = np.sqrt(-cv_scores)

# Print cross-validation results
print("Cross-Validation RMSE Scores:", cv_rmse_scores)
print("Mean RMSE Score:", cv_rmse_scores.mean())

# Optionally, split the data into training and testing sets for additional evaluation
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Train the Random Forest regressor on the training data
# rf_regressor.fit(X_train, y_train)

# # Predict the sales for the test set
# y_pred = rf_regressor.predict(X_test)

# # Calculate the mean squared error of the model
# mse = mean_squared_error(y_test, y_pred)
# print("Mean Squared Error:", mse)

# r_squared = r2_score(y_test, y_pred)
# print("R-squared:", r_squared)

Cross-Validation RMSE Scores: [1152.75184201 1137.86435588 1143.31064525 1147.25598785 1150.72914297]
Mean RMSE Score: 1146.3823947930825

In [51]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor
import numpy as np

# Define X and y
X = train.drop(columns=['Item_Outlet_Sales'])  # Features
y = train['Item_Outlet_Sales']  # Target variable

# Initialize the Random Forest regressor
rf_regressor = RandomForestRegressor()

# Perform cross-validation for RMSE
cv_scores_rmse = cross_val_score(rf_regressor, X, y, cv=5, scoring='neg_mean_squared_error')
cv_rmse_scores = np.sqrt(-cv_scores_rmse)

# Print cross-validation RMSE results
print("Cross-Validation RMSE Scores:", cv_rmse_scores)
print("Mean RMSE Score:", cv_rmse_scores.mean())

# Perform cross-validation for R-squared
cv_scores_r2 = cross_val_score(rf_regressor, X, y, cv=5, scoring='r2')

# Print cross-validation R-squared results
print("Cross-Validation R-squared Scores:", cv_scores_r2)
print("Mean R-squared Score:", cv_scores_r2.mean())

Cross-Validation RMSE Scores: [1156.15461879 1136.174557   1145.49602864 1139.63963768 1135.1902233 ]
Mean RMSE Score: 1142.5310130801117
Cross-Validation R-squared Scores: [0.57350457 0.53710057 0.52530797 0.55140481 0.56245607]
Mean R-squared Score: 0.5499547989499077

In [52]:
train.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,0,0.016047,4,249.8092,1999,1,0,1,3735.1380
1,5.92,1,0.019278,14,48.2692,2009,1,2,2,443.4228
2,17.50,0,0.016760,10,141.6180,1999,1,0,1,2097.2700
3,19.20,1,0.000000,6,182.0950,1998,1,2,0,732.3800
4,8.93,0,0.000000,9,53.8614,1987,0,2,1,994.7052

In [53]:
unique_values = train["Item_Fat_Content"].unique()
print("Unique values:", unique_values)

Unique values: [0 1]

In [54]:
unique_values = train["Item_Type"].unique()
print("Unique values:", unique_values)

Unique values: [ 4 14 10  6  9  0 13  5  2  8  7  3  1 15 11 12]

In [55]:
unique_values = train["Outlet_Size"].unique()
print("Unique values:", unique_values)

Unique values: [1 0 2]

In [56]:
unique_values = train["Outlet_Location_Type"].unique()
print("Unique values:", unique_values)

Unique values: [0 2 1]

In [57]:
unique_values = train["Outlet_Type"].unique()
print("Unique values:", unique_values)

Unique values: [1 2 0 3]

In [58]:
unique_values = train["Outlet_Establishment_Year"].unique()
print("Unique values:", unique_values)

Unique values: [1999 2009 1998 1987 1985 2002 2007 1997 2004]

In [59]:
unique_values = test["Outlet_Establishment_Year"].unique()
print("Unique values:", unique_values)

Unique values: [1999 2007 1998 1985 1997 2009 2002 1987 2004]